<h1 class="poppins text-white text-4xl text-center">Welcome Back!</h1>

<form class="flex flex-col mx-auto mt-10 text-white poppins" (ngSubmit)="loginHandler(f)" #f="ngForm"
      style="max-width: 400px">
  <p *ngIf="error!==null" id="error-message" aria-errormessage="error-message" class="border text-red-500 border-red-500 p-4 mb-4 rounded mt-2 flex">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" class="mr-2" width="24px" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
    </svg>
    {{error}}
  </p>
  <label for="email" class="text-gray-300">Email</label>
  <input id="email" [disabled]="isLoading" name="email" email class="mt-1 text-field" ngModel type="email"
         #email="ngModel" required>
  <p *ngIf="!email.valid && email.touched && !isLoading" class="text-red-400 text-sm">
    * {{email.value.trim() === "" ? "email is required" : "email is invalid"}}</p>
  <label for="password" class="mt-4 text-gray-300">Password</label>
  <input id="password" [disabled]="isLoading" name="password" class="mt-1 text-field" ngModel #password="ngModel"
         type="password" required>
  <p *ngIf="!password.valid && password.touched && !isLoading" class="text-red-400 text-sm">* Password is required</p>
  <button class="btn-green btn mt-6" [disabled]="!f.valid || isLoading">{{isLoading ? "loading..." : "Login"}}</button>
  <div class="text-gray-300 poppins mt-10">Don't have an account? <a routerLink="/auth/signup"
                                                                     class="text-green-200 focus:underline hover:underline">signup</a>
  </div>
</form>
