@import "src/styles/palette";

.container {
  background-color: $green;
  color: white;
  position: fixed;
  top: 0;
  left: 100px;
  max-width: 500px;
  width: auto;
  min-width: 300px;
}

.arrow {
  left: 70px;
  position: fixed;
}

button {
  background-color: $green-darker;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}
