<app-simple-navbar></app-simple-navbar>
<div style="max-width: 700px" class="container mx-auto">
  <div class="bg-black-1 p-7 m-2 rounded-lg mt-6">
    <h1 class="text-lg text-white font-bold text-center">Invitation</h1>
    <div class="flex justify-center">
      <div>
        <p *ngIf="this.error!==null" class="text-red-500 p-3 border mb-4 border-red-500 rounded flex mt-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" style="height: 30px;width: auto" class="mr-2" fill="none"
               viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
          </svg>
          {{this.error}}
        </p>
        <p class="text-white mt-5">
        Do you want to accept the invitation of <span class="font-bold text-green">{{fullName}}</span> ?
        <br/>
        <span
          class="text-gray">If you accept the invitation, you will be able to chat with him/her anonymously.</span>
        </p>
        <button class="btn btn-green mt-5" (click)="acceptInvitation()">Accept</button>
      </div>
    </div>
  </div>
</div>
