<div class="all-chats-container bg-black-2">
  <div class="flex items-center justify-between p-4">
    <div>
      <h1 class="text-gray-400 font-bold flex">
        <img src="../../../../../../assets/logo.svg" alt="logo" class="mr-2"/> AnonChat</h1>
    </div>
    <div class="flex">
      <div class="text-black-4 ml-3 md:hidden">
        <button style="padding: 12px" (click)="onLogout.bind(this)()">
          <svg style="height: 24px;width: auto" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
               height="24" viewBox="0 0 24 24"
               width="24">
            <g>
              <path d="M0,0h24v24H0V0z" fill="none"/>
            </g>
            <g>
              <g>
                <path fill="#8E9297"
                      d="M5,5h6c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h6c0.55,0,1-0.45,1-1v0 c0-0.55-0.45-1-1-1H5V5z"/>
                <path
                  fill="#8E9297"
                  d="M20.65,11.65l-2.79-2.79C17.54,8.54,17,8.76,17,9.21V11h-7c-0.55,0-1,0.45-1,1v0c0,0.55,0.45,1,1,1h7v1.79 c0,0.45,0.54,0.67,0.85,0.35l2.79-2.79C20.84,12.16,20.84,11.84,20.65,11.65z"/>
              </g>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <cdk-virtual-scroll-viewport [itemSize]="50" class="flex-col items-center h-screen p-3">
    <div *cdkVirtualFor="let item of items; let index = index;">
      <app-chat-item [index]="index" [currentChatId]="currentChatId">
      </app-chat-item>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
