$black-1: #2B2D33;
$black-2: #2E3036;
$black-3: #36393F;
$black-4: #484B51;
$gray: #C8C8C8;
$gray-lighter: #F4F4F4;
$green: #43B581;
$green-darker: #43b581;

$colors:"black-1" $black-1,"black-2" $black-2,"black-3" $black-3,"black-4" $black-4,"gray" $gray,"gray-lighter" $gray-lighter,"green" $green,"green-darker" $green-darker;

@each $name , $color in $colors {
.bg-#{$name} {
  background-color: $color;
  }
}

@each $name , $color in $colors {
  .text-#{$name} {
    color: $color;
  }
}

