$black-1: #2B2D33;
$black-2: #2E3036;
$black-3: #36393F;
$black-4: #484B51;
$black-5: #4F545C;
$gray: #C8C8C8;
$gray-lighter: #F4F4F4;
$green: #56d097;
$green-darker: #329367;

$colors: "black-1" $black-1, "black-2" $black-2, "black-3" $black-3, "black-4" $black-4, "black-5" $black-5, "gray" $gray, "gray-lighter" $gray-lighter, "green" $green, "green-darker" $green-darker;

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
}

