<app-share-invitation *ngIf="invitationModalService.isInvitationShareModalOpen.getValue()"
></app-share-invitation>
<div class="w-screen flex flex-col-reverse md:flex-row">
  <app-side-bar [onLogout]="onLogout"
                [currentChatId]="currentChatId" [currentChatType]="currentChatType"></app-side-bar>
  <div class="w-full h-full flex">
    <div [ngClass]="{ 'hidden md:block':currentChatId.getValue()!==null }" class="w-full md:w-auto">
      <app-all-chats [chatType]="currentChatType.getValue()" [onLogout]="onLogout"
                     [currentChatId]="currentChatId"></app-all-chats>
    </div>
    <div [ngClass]="{ 'hidden': currentChatId.getValue()===null }" class="w-full block">
      <app-chat-space [currentChatId]="currentChatId"></app-chat-space>
    </div>
  </div>
</div>



