<div class="fixed z-10">
  <div class="h-screen w-screen bg-black opacity-40 fixed">
  </div>
  <div class="flex h-screen w-screen justify-center items-center fixed">
    <div class="bg-black-4 text-white p-7 rounded-lg m-4">
      <div class="flex mb-3 justify-between items-center">
        <h2 class="text-lg p-2  mr-6">Share Invitation</h2>
        <button style="padding: 12px;" (click)="isInvitationShareModalOpen?.next(false)">
          <svg style="height: 24px;width: auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
      <p #infoText class="text-gray mb-5 p-2"></p>
      <p class="w-full p-2 rounded overflow-x-auto box-border m-2 bg-black-3 text-white"
         style="max-width: 100vw">{{invitationLink}}</p>
      <div class="flex p-2  mt-3 text-green">
        <div>
          <button (click)="copyLink();">
            <svg style="height: 48px;width: auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
