<div [ngClass]="{ 'hidden':currentChatId.getValue()===null }"
     class="h-full box-border bg-black-3 pt-2 pl-2 pr-2 md:pt-5 md:pl-10 md:pr-10">
  <div>
    <h2 class="text-white text-lg items-center font-bold flex p-2">
      <button (click)="currentChatId.next(null)" style="padding: 8px;" class="text-gray-lighter mr-2 block md:hidden">
        <svg style="height: 32px; width: auto;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"/>
        </svg>
      </button>

      <img src="../../../../../../assets/chat-bubble.svg" class="mr-2 hidden md:block" alt="">
      {{chatName}}
    </h2>
  </div>
  <div style="height: 80vh;" class="w-full mt-5 p-3 bg-black-1 rounded-xl">
    <div aria-label="chat messages" class="p-3" #chat_messages style="height: calc( 100% - 45px ); overflow: auto">
      <cdk-virtual-scroll-viewport class="messages-container" itemSize="50">
        <div class="w-full" *cdkVirtualFor="let item of items; let index = index;">
          <app-message-item [index]="index" [chatId]="currentChatId.getValue() || ''"></app-message-item>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <form class="relative" (submit)="onMessageSend()" autocomplete="off">
      <img src="../../../../../../assets/add-icon.svg" alt="new message" class="absolute top-0">
      <label for="message" style="display: none">Message to Send</label>
      <input id="message" [(ngModel)]="messageText"
             [ngModelOptions]="{ standalone: true }"
             placeholder="Message {{chatName}}"
             style="height: 45px;padding-left: 60px"
             class="w-full rounded text-field box-border"/>
    </form>
  </div>
</div>

