<div class="w-screen h-screen flex ">
  <div style="width: 70px" class="bg-black-1 h-screen flex items-end  justify-center">
    <div class="mt-16 mb-5">
      <div style="border-radius: 50%;height: 50px;width: 50px" class="bg-black-3 flex justify-center items-center">
        <img src="assets/search.svg" alt="search chats">
      </div>
    </div>
  </div>
  <div class="w-full h-screen flex">
    <div class="w-auto">
      <app-all-chats></app-all-chats>
    </div>
    <div class="w-full">
      <app-chat-space></app-chat-space>
    </div>
  </div>
</div>

